* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Courier", Arial, Helvetica, sans-serif;
}

body {
    background-image: url(page-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* ===== Starting Screen ===== */

#starting-screen {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#choose-category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin: 50px;

    h2 {
        font-size: 2rem;
    }
}

#category-choices button {
    padding: 20px;
    height: 150px;
    width: 200px;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid rgb(34, 34, 34);
    transition: all 0.15s ease;
    background-image: url(button-bg-imgs/white-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(0);
}

#category-choices button:hover {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.229);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 3px 0 black;
}

#animals:hover {
    background-image: url(button-bg-imgs/animals.png);
}

#countries:hover {
    background-image: url(button-bg-imgs/countries.png);
    color: black;
}

#people:hover {
    background-image: url(button-bg-imgs/people.png);
    color: white;
}

#christmas:hover {
    background-image: url(button-bg-imgs/christmas.png);
    color: white;
}

#coding:hover {
    background-image: url(button-bg-imgs/coding.png);
    color: white;
}

#category-choices button:active {
    transform: translateY(3px) scale(1);
    box-shadow: 0 0px 0 black;
}

#start-btn, #restart-btn {
    padding: 20px;
    border-radius: 30px;
    border: 3px solid rgb(29, 29, 29);
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 3px 0 rgb(0, 0, 0);
    transition: all 0.15s ease;
    background-color: rgb(255, 255, 255);
}

#start-btn:hover, #restart-btn:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 5px 0 rgb(0, 0, 0);
    cursor: pointer;
}

#start-btn:active, #restart-btn:active {
    transform: translateY(4px);
    box-shadow: 0 0px 0 rgb(0, 0, 0);
}


/* ===== Main App ===== */
#app {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 300ms ease-in;
}

header {
    padding: 50px;
    justify-content: center;
    display: flex;
}

header h1 {
    font-size: 4rem;
}

/* === Hangman graphic === */

#hang-man-container {
    align-self: flex-start;
    position: relative;
    width: 30vw;
    min-height: 300px;
    height: 40vh;
    max-height: 350px;
    margin-bottom: 50px;
}

#hang-man-container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 300ms cubic-bezier(0.25, 1.5, 0.5, 1);
}

/* === Word blanks container === */

#text-blanks-container {
    margin-left: 50px;
    height: 30vh;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 30vw;
    font-size: 2.5rem;
    font-weight: 600;
}

/* ===== user manual guess ===== */
#manual-guess-container {
    background-color: white;
    align-self: center;
    padding: 20px;
    border-radius: 30px;
}

.input-container {
    position: relative;
    width: 250px;
    height: 5cqmin;
    border-radius: 10px;
    border: 2px solid black;
}

#manual-guess-input, .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 1.5rem;
}

#manual-guess-input {
    transition: none;
    width: 100%;
    padding-left: 10px;
}

#manual-guess-input:focus {
    outline: 3px solid black;
}

.input-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: all 0.3s ease;
}

.input-container label:hover {
    background-color: lightblue;
    color: white;
    font-weight: 600;
}

.input-container label.clicked {
    font-size: 1rem;
    transform: translateX(10%) translateY(-50%);
    background-color: white;
    width: 120px;
    height: 16px;
}

.input-container label.clicked:hover {
    color: black;
    font-weight: 400;
    cursor: default
}

/* ===== alphabet buttons ===== */

#alphabet-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80vw;
}

#alphabet-container button {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 7px 17px;
    margin: 5px;
    aspect-ratio: 1;
    border-radius: 5px;
    border: 2px solid rgb(20, 20, 20);
    transition: all 0.2s ease;
}

#alphabet-container button:hover {
    background-color: rgb(216, 216, 216);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}

/* ===== End of game ===== */
#happy-man {
    transition: all 500ms ease-in;
}

#thx-bubble {
    transition: all 300ms ease-in;

}

@keyframes zoomInRebound {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#end-screen {
    display: none;
    animation: zoomInRebound 300ms cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-top: -30vh;
    font-size: 2.5rem;
    font-weight: 600;
}